* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  background-color: #333;
}

.navbar .logo {
  color: white;
  font-size: 24px;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.burger-icon {
  display: none;
}

.close-icon {
  display: none;
}

@media screen and (max-width: 680px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #333;
    width: 50%;
    height: 100vh;
    padding: 10px;
    text-align: center;
    opacity: 0;
    transform: translateX(100%);
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  .nav-links.active {
    display: flex; 
    opacity: 1;
    transform: translateX(0);
  }

  .burger-icon {
    display: block; 
    cursor: pointer;
    color: #FFF;
    position: relative;
  }

  .close-icon {
    display: block;
    cursor: pointer;
    color: #FFF;
    position: absolute;
    top: 2.5%;
    left: 92.5%;
  }

  .nav-links li {
    margin: 10px 0;
  }
}
